@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* position: absolute; */
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    /* border-bottom: red solid 2px; */
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/vKr7WNZFVifE-21bq0UmxlI3A1_7YcXh1dqgiIFOkvtkJ53jLITrXqiruUEBMRuOSHs2El5rlPDc8xaRkuxf_kI6MOchc5CZ5YT0NvIthVX-BPdrHXeiiHp7TossieDmTJ6lWjjXgzg4WgKBWNmG5VTUDUBrp1TYtcmxzK8NgPyY-kjuCluDbctniJhMZv_SsqAjLOSIo1jk1unmBGcTlk0-ESs18UxY3IlCg4UgKz_am-4uRQHCwwfhWmozWqeVsloN4rwkvBq8TE7soxyfLYwjTlF79e-hyH3fXDwWFQe3qajlAEnGamVQYpUIXtJ_QfzbdX3n-dp7UVgs-Yc8DNrEY3wIPO1w9ArP67q66EOzG_hRrIGpQq5_18mBX7OfrlMxM98mCgzKYkJpdEUxkuMMo1wedh9C_leYtsFqPlMhw73nUKPk7kGJu7Cc_7eqaJHgA1xS-k9PbLN4GI75zmATolca9PISAH5rIFSO7Y_3WPGZU7aXi_SvWo-yEUrPYFC-qxkjcPB66-3ze0bZUoTEvyDk2EM3U_EZy7MMmLXpaCDABSyD7B1IhTKY0lz3b3aGYQ4gLAPRSwBMzJJllkrBPz7Kjq3Cgl74uoqPjlB-uxRSdpq3Vca3j-HI2NEnxzxB1W9CUis9R43PeWklBG37WRq8wwsaf_Cgxk39l-WcGLO4Cp_0nNNxffaM=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/3iNH8mI1ZXFuUsM_HUSPhvRbIuq54AUwT8moFbdUqmTKF1ffftPqRMGB8hsaN3z1oHQwztYY8oZxyYUV4DUdWCtuRde2GHi-TyNXsn7EDmTRrot7FTUp_8mhqh-HSrKnLTrwepcakgsVSzWBk6XsgW0MGOCEjdylIMEYF1cW8K3zlQdX5BA8zYA19EROiZojTat3133sAIymz9aPwdP9bWmlN_dipOf-lxr0BVbJY_kTwBI88atpthLrO1Rg4Nosx0euuguJ_-leBRImeqIBctXDth9LeGoGQbJGixTRLUiQTLVA9oYPbrLpXT2E3Tq8b2gcO79QBAR3U0ItRFoU_gIUdYXKhmiq2dNFYKaYRgenF03NsILEvab-4oa9jtoC4Ad3qI5lUbLEGzcdKjfZzq1V3NoE-9aN-BH3YA1wghfpX-KOYcTVofjZY-fB6nFeI8ZzEy01R6g12sBo5nwtGSpADzS4hrtzjx5Y1C2Cu9fdG0t2bOgRYbH9_H7yfQVLrWgMy3ZB68Ng3dT8kaqiyipEvG2hpaHXVIVqmh9qHEFxD7JJ7-DWJZ-i6-BBkaAL9uvTf7h1TqQwVrOyRLP_wb_ai6pG75HBVD_67r6GuJPZHwnrA-Z-hqCqj14a48FamKAklEfMHcKbAJWJlJwDciRycifK5ANPAMdJAlnNcFHSzwnUSrw4Pbgsu37M=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}

.global_container {
    width: 1000px;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo_global h2 {
    /* font-family: 'Palanquin Dark', sans-serif; */
    color: #009b16;
}

.parrafo_global p {
    margin-bottom: 40px;
    text-align: justify;
    color: #858484;
}

.parrafo_global strong {
    font-size: 30px;
}

.global_foto img {
    width: 500px;
}

.parrafo_global a {
    width: 100px;
    background-color: #009b16;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.parrafo_global a:hover {
    background-color: #00ad1a;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}