@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* position: absolute; */
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    /* border-bottom: red solid 2px; */
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cZFfkqWn7S9JzxEUwypsHz_Tuwr3z1Ab8rE1TZcl5tIq7C0bJDkp7jMshwVNUWcKr2xD-GeLvVLiJvkSdZ2cFPG9ccf9bWgb9jr2pLPQCAROJcYqp9m50zqJOAJzv8X6VGhk3OOyGQsu5FXM7u2aUe=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fav1yFP_UxwP484B-t6WYkL1isLWlT9XVWpsVUf8S4oAfEl5CC7ZayRrgGm8sF-mdd4IsDpClqSLAwQOfPLE4ArUEw9yy4PPx76zo1p5pHl8iW5A4rj2ID7u63wynH-zlHZpCE8XsecaILuK1NFCpF=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}

.global_container {
    width: 1000px;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo_global h2 {
    /* font-family: 'Palanquin Dark', sans-serif; */
    color: #009b16;
}

.parrafo_global p {
    margin-bottom: 40px;
    text-align: justify;
    color: #858484;
}

.parrafo_global strong {
    font-size: 30px;
}

.global_foto img {
    width: 500px;
}

.parrafo_global a {
    width: 100px;
    background-color: #009b16;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.parrafo_global a:hover {
    background-color: #00ad1a;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}