@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

p {
    margin: 0;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/ZmjfvvXAcMSSsSPgCYspZVmdG5SnMgj-Dy52Kr2_4ypX_yl0eIl21olkNm2cFAoOV_UfSxyMZsr9KAye_RnesOVfLVxT7e_EUeTGkWZdi4m08ESNmLCd3jZeprf5tMtV-Tcuf9MgLaURWOZAQ3Lv6-ZoS1FQo70jJsHmefry0iJwSnsQV4R0bGzARRuwqUE0VtN8UalLOk6WrdfDbQj8CBo2lcQQf9luM8dgzEXmY_nFhxsRYKvPDPG8RKnLxngP2Phh65MODu8cECQhxw9d2GieupcU3oWSh0jq9XhlgJBk1aQHuNHSKvXm_jzLwA9FckR71ZYTVF6hU6ax1LgQyWZAsKgW9cU7R1J_TGVJHvYSSsHK9ujLBH3FeVZ8VQvvJo5wcmlIXUzaIC9fdrxZl-vTv7otL0uMrYbBOJhYpHho9zDxwZkk5QGef-JVqOZNQwZDKNgzs99WUgDa8MExWZKPOQ-C9iv3PoEfHHsg5dHeEeSIHh475LIH5AF320go6sYGnskFYTPxsNLFjrCZ3QqxADWQ_APHdL0C2-g1_H68kUkHXxlYoNT0Y5qyKa9WGRzku59CSpeym01vSI6F7bY_6Ri76nydIsUZ7nhEVQtoXpDMz6qAQ8mWSNPC0E_yIuPPuMorM_kuPLB24HxuaKDmIXERQy6LlRsIaN4k2aEmd4FAj_esUGZr-U2u=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/fXzYVWXHB34xl3PF90-8fPzgP9XuCqDK3WDP83fzaNgcjRuWoQSKMw8sqnSEAONTL7bCUK9XdHNRLFrn9OHVHsHOesuCgxQP8Qjex2bdB1AItPDg9E6ffZodZ3U2hSh17LDZqvZLVqHNI4_5sTd1rfNhaJy0wNg9vvDeWYaXDv6yMHh1MQ8zfFMRr8I0ivBZDduB_RuYiwFR9ETl99r5CWfPXfAA5-OhbvIZPRRVEqeVMgV5hMrYoPmALPgl95S-B91NSBBGak8Y51UkId_rRawImeGSt-lC538VASw7DWOwIBygRPBzPyoo8oz9MQvxafdPKMGRbL6ILAL1JwhOSADoq1tPlv8lKPKbMCp9G3XGbnaozhjaN1_RudL-J8HbugopZflz7U-ZNMmmt5vqE6OeCIs9VwBfUKD2cd0NwApbrKuKAq9namLZqk5M6tVKDuXBlO7hvWV92L3spvIS34mDkRDKYeo8BISIsL3nMvx7UDomFAQD7eg1B86RupnIlxfRE2fA7qZ_y-CaAH-LxJPSnbeqOoVmm8E0JSPQWgjKB9cy7tCfsnELZVySLVd-ys6cCL8IZ20mXMp3G56Rhwsy9LPB2fCgCwOGM4q1foDfKFgzwsZU4ytss_U3LRbEsd7EFGqYENHau4dwgfRu4-DEpH72VOeae8O3i1blyWiuGyZeY6KCUKASjgRf=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}


.historia_container {
    width: 100%;
    color: #858484;
    text-align: center;
    /* color: #30904a; */
}

.historia_container--center {
    font-size: 1.1rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13,250px);
    column-gap: 30px;
    grid-template-areas: 
        "parrafo_1 parrafo_1 parrafo_1 genova"
        /* "Julio_Podesta parrafo_2 parrafo_2 parrafo_2" */
        "Julio_Podesta Julio_Podesta Julio_Podesta Julio_Podesta"
        "parrafo_3 parrafo_3 parrafo_3 parrafo_3"
        /* "parrafo_4 parrafo_4 parrafo_4" */
        "parrafo_5 parrafo_5 parrafo_5 foto_campo"
        "vita parrafo_6 parrafo_6 parrafo_6"
        "parrafo_7 parrafo_7 parrafo_7 parrafo_7"
        "parrafo_8 parrafo_8 parrafo_8 Empaque2014"
        "parrafo_9 parrafo_9 parrafo_9 parrafo_9"
        "parrafo_10 parrafo_10 parrafo_10 FamiliaPodesta"
        "parrafo_11 parrafo_11 parrafo_11 parrafo_11"
        "frase_enrique frase_enrique frase_enrique frase_enrique"
        "linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta"
        "linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta";
}

.historia_container--center img {
    width: 300px;
}

.historia_container--center p {
}

.parrafo_1 {
    grid-area: parrafo_1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 0;
}
.parrafo_1 strong {
    color: #25733A;
}
.genova {
    grid-area: genova;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.genova img {
    width: 360px;
}
.Julio_Podesta {
    grid-area: Julio_Podesta;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Julio_Podesta img {
    width: 200px;
}
.Julio_Podesta p {
    padding-left: 30px;
}
.parrafo_2 {
    grid-area: parrafo_2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_3 {
    grid-area: parrafo_3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parrafo_4 {
    grid-area: parrafo_4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_5 {
    grid-area: parrafo_5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_campo {
    grid-area: foto_campo;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.foto_campo img {
    width: 400px;
}
.vita {
    grid-area: vita;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
.vita img {
    width: 350px;
}
.parrafo_6 {
    grid-area: parrafo_6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.parrafo_7 {
    grid-area: parrafo_7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #858484; */
}
.parrafo_7 strong {
    color: red;
}
.parrafo_7 .frase {
    color: #30904a;
}
.parrafo_8 {
    grid-area: parrafo_8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_9 {
    grid-area: parrafo_9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Empaque2014 {
    grid-area: Empaque2014;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Empaque2014 img {
    width: 400px;
}
.parrafo_10 {
    grid-area: parrafo_10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_11 {
    grid-area: parrafo_11;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FamiliaPodesta {
    grid-area: FamiliaPodesta;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.FamiliaPodesta img {
    width: 400px;
}
.frase_enrique {
    grid-area: frase_enrique;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: #f7f7f7;
    color: #30904a;
    border-radius: 10px;
}
.frase_enrique p {
    padding: 0 4rem;
}
.linea_tiempo_sta {
    grid-area: linea_tiempo_sta;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea_tiempo_sta img {
    width: 50%;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}