@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

p {
    margin: 0;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3exnyhX5wdyDE66G8KWpFijmOD4HqBBtJpmt5Dh1V_k7mDvlv9iOD43oKLGo2-GHqyrxI_m9PeWvkitT4bvwKe5Lj5wZmk9GmMGzZOW1tcUn4lmpESUlKKvO5-zFYEiIssiW2qtQOSqp8Ec7wwJrLxQ=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cWJImbKu1UDuxN9PhXUkvTLC24jd1bw_9Gv55ar67SqgcSGUpDKaFQ9kGosAsGp6s2tcG-Dy7ufRLAzfP7eeDkR2ZIW6tgEek66NYm5tjJ4c3W7zobQv6eMSef9nlwfPDlQsGl_5snnmuLOAFGvqoH=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}


.historia_container {
    width: 100%;
    color: #858484;
    text-align: center;
    /* color: #30904a; */
}

.historia_container--center {
    font-size: 1.1rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13,250px);
    column-gap: 30px;
    grid-template-areas: 
        "parrafo_1 parrafo_1 parrafo_1 genova"
        /* "Julio_Podesta parrafo_2 parrafo_2 parrafo_2" */
        "Julio_Podesta Julio_Podesta Julio_Podesta Julio_Podesta"
        "parrafo_3 parrafo_3 parrafo_3 parrafo_3"
        /* "parrafo_4 parrafo_4 parrafo_4" */
        "parrafo_5 parrafo_5 parrafo_5 foto_campo"
        "vita parrafo_6 parrafo_6 parrafo_6"
        "parrafo_7 parrafo_7 parrafo_7 parrafo_7"
        "parrafo_8 parrafo_8 parrafo_8 Empaque2014"
        "parrafo_9 parrafo_9 parrafo_9 parrafo_9"
        "parrafo_10 parrafo_10 parrafo_10 FamiliaPodesta"
        "parrafo_11 parrafo_11 parrafo_11 parrafo_11"
        "frase_enrique frase_enrique frase_enrique frase_enrique"
        "linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta"
        "linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta linea_tiempo_sta";
}

.historia_container--center img {
    width: 300px;
}

.historia_container--center p {
}

.parrafo_1 {
    grid-area: parrafo_1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 0;
}
.parrafo_1 strong {
    color: #25733A;
}
.genova {
    grid-area: genova;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.genova img {
    width: 360px;
}
.Julio_Podesta {
    grid-area: Julio_Podesta;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Julio_Podesta img {
    width: 200px;
}
.Julio_Podesta p {
    padding-left: 30px;
}
.parrafo_2 {
    grid-area: parrafo_2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_3 {
    grid-area: parrafo_3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parrafo_4 {
    grid-area: parrafo_4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_5 {
    grid-area: parrafo_5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_campo {
    grid-area: foto_campo;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.foto_campo img {
    width: 400px;
}
.vita {
    grid-area: vita;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
.vita img {
    width: 350px;
}
.parrafo_6 {
    grid-area: parrafo_6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.parrafo_7 {
    grid-area: parrafo_7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #858484; */
}
.parrafo_7 strong {
    color: red;
}
.parrafo_7 .frase {
    color: #30904a;
}
.parrafo_8 {
    grid-area: parrafo_8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_9 {
    grid-area: parrafo_9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Empaque2014 {
    grid-area: Empaque2014;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Empaque2014 img {
    width: 400px;
}
.parrafo_10 {
    grid-area: parrafo_10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo_11 {
    grid-area: parrafo_11;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FamiliaPodesta {
    grid-area: FamiliaPodesta;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.FamiliaPodesta img {
    width: 400px;
}
.frase_enrique {
    grid-area: frase_enrique;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background: #f7f7f7;
    color: #30904a;
    border-radius: 10px;
}
.frase_enrique p {
    padding: 0 4rem;
}
.linea_tiempo_sta {
    grid-area: linea_tiempo_sta;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea_tiempo_sta img {
    width: 50%;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}