@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* position: absolute; */
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    /* border-bottom: red solid 2px; */
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fav1yFP_UxwP484B-t6WYkL1isLWlT9XVWpsVUf8S4oAfEl5CC7ZayRrgGm8sF-mdd4IsDpClqSLAwQOfPLE4ArUEw9yy4PPx76zo1p5pHl8iW5A4rj2ID7u63wynH-zlHZpCE8XsecaILuK1NFCpF=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cZFfkqWn7S9JzxEUwypsHz_Tuwr3z1Ab8rE1TZcl5tIq7C0bJDkp7jMshwVNUWcKr2xD-GeLvVLiJvkSdZ2cFPG9ccf9bWgb9jr2pLPQCAROJcYqp9m50zqJOAJzv8X6VGhk3OOyGQsu5FXM7u2aUe=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}


/* .cadena_container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: 
        "campo campo" 
        "empaque envio";
}

.cadena_campo {
    grid-area: campo;
    background: #009b16;
}

.cadena_campo img {
    width: 100%;
    /* height: 100%; 
}*/

.cadena_empaque {
    grid-area: empaque;
    background: red;
}

.cadena_envio {
    grid-area: envio;
    background: yellow;
} */

.production_container {
    width: 100%;
    height: 100vh;
    background-image: url('/img/DJI_0057.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 100%;
}

.production_home {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
}

.hortalizas_container {
    width: 100%;
    height: auto;
    background-color: #3c6930;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;
    grid-template-areas: 
        "texto_description imagen_product"
        "imagen_emp texto_emp";
}

.hortalizas_container a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px;
}

.hortalizas_container a:hover {
    background-color: #00ad1a;
    border: 1px solid #00ad1a;
}

.tomates {
    grid-column-start: 1;
    grid-row-start: 1;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cCuQLGjdhV7dD3TcAEHPk8OYmD0ZldO9e4xeC7zDRmc669T3EOe7Zev6yKu_40m_AzrdcV-ao81RSJw2et1YXwJ-OJjdXsl5D-QunRsyFfvVXMV3m-FvGTtGKUNYtv-OVKrjGLH_rvYWrji6JRhRs_=w1513-h1009-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pimientos {
    grid-column-start: 2;
    grid-row-start: 1;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3crzw2EFZDDrqlgqwmfYnj17vy6x2m_bhBWBfagPhoV4JguFI1jKOwnDhbs7jOh6JKxn-0pw3_GQFJ60UkyZeoquHA79ic2Ucm4VyA_74CheZQXz7y-JmVoZmeos4Dy5M7xOnI6aadGK_Mmj3CBKCfV=w900-h600-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chiles {
    grid-column-start: 1;
    grid-row-start: 2;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3drS6GfXoVdyxPKNz5OkvG4YDha9wMBTzoNQq68bnzX18SnbyVLe96qlWFIp_mojTkNe5LnY-X3bqrabnp63W029IpuRu0wtwwRA6BexqIOC4Z-zVQO77fRff3AjoI4iUwtvyzSFO0ZIY_c1W7cn_q7=w688-h387-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pepinos {
    grid-column-start: 2;
    grid-row-start: 2;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3epcuiDNWbKCJSSwktbjM9X2GM-UyMKKHcDyIiM54sh1X2eb-qOaxPNeh5cIUJIpJxI8ZzsMcbmnaiprQrlYO49hlMs0KHcJi00byrETGVhqPKgJK-xV3PfJhAYWOyCueBUtQNIakAhucVJdlc8JJUT=w1200-h800-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.china {
    grid-column-start: 1;
    grid-row-start: 3;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fb1DBIRLcizIwkOuhRUniID0pSh1c8zLC3JD21_HpnJNJgwFVBodmj1RHDTM9yAcPQUsPPvXpkm1LgjLSBNsXxC3N4awlpTD0BQCyUSLNhQwhK2_ITO_oBPas1uSU-HvWLaJpzmDXrltUawNC_4yqq=w1346-h1009-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hortalizas_contact {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #009b16;
    text-align: center;
}

.hortalizas_contact a:hover {
    background-color: white;
    color: black;
}

.hortalizas_description {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hortalizas_description h2 {
    font-size: 2rem;
}

.hortalizas_description p {
    margin: 0 15%;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 450px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}