@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* position: absolute; */
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    /* border-bottom: red solid 2px; */
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/QehxTAp9Z6Ljz5cE5y8V7ULQsnoFKRGdP5C6gYWKPbpKIhi5cdG7SPvEcrIqgBR1TCSRoMDrotOYK1S2nDGVLrBOQGCXrAW2Rfkz1vdxLtpJnBuzP_b1QXuP7txPU9IkukjJ8gXLocnhtRVeQz6ptGBHzUHztHqf_HGRDJXq7TtBjGUod4YL7xLigTLiFBs3yptQnYJq3a8AKyXT5Ep0IKcuAG-Xm9mZGF_LC66YmrNTt4NpL53ryJuesPSmA_BQLVTjqN09IFhwkwvfIPhbWI9I5Lh16BgVixjOAZ7CtguiQkyixFRW53yjCaB922AIC0VUnV8EfFANlYv3rTN__E0NFXGz24BZY_7LDA4HuB9AAiU2eqaKixKrh_wAAxAnabmbazIU8cw2cQjx708le-6lF49Y7qbXwM1kIE3upM2_B3yCdiheqioNzvbvbkVJjOIBjE6u-wPProMmQqnxhUFkd5ZSvlRBFg1m9sHqs4SzRYOeHOI91Pt8emBCe11GFhbsxtZkhr0nJRCG_9Hl-2cHhdM1LvjYX9APOwDramik2I7UkTxzBXI1Ef1YB8mEy7HBXUOHkWo1LmABS0PwudDu226ADj9bKrRbvbU2cz-81cO_MI1VPUlrpmmyHkPh367JcoTaWWcKnRxSq5u2XEAwsoF5rKS1gz1g3OIPzNx5rYCLTj2AQNGblaEA=w523-h211-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/6cfW0dQATxf5L6W5zsDOmuw9y_WODDCsHr2NOg5Bedr7qP4MvPKGeSNX2iQ-Wqew-2uuEDvn2oOhmamVlvQ_EVZIPF9P3lx9563RfiabFM4iYZef550vWn8uuKxGI9Z9uMSxT4qK2MjxBmsSWrZyO-dclkJ-eMEm5PYbtqpOhYkZWbjgdnMx4ODiic3oaDsS7dxWzfVNl2gmJFy-8jGXMyLYB9HXFaq17w98gF0vWyI6pwqrAg2goSuJS01jrZ3d2YzdQANtqoFklMEoCghADHdTiYuX6j9Btw4Ys9Ryvkc5krWntXXLv1FFD5LW-xGdxrobDQT0lAcbdN0p5nls8kmdI0tT_a0YWmPEfnC1jzE9Abiwp5Wa7jFcyKt8JQAG9IFJV9NF-sog-vsBq-035sjEmsOFRD9_6IBHlYXMiD8Qv2iolm5ik-a_wbuyw-cQwD_pc9XHUtPLkHgesXbGlm68LM1ZDJ8Pwiqnl70b6w9fJC9UPiDKcGCqhA2g9O2PLR--9JQy-AwnmzPpdg6pa5UrXYUTRUzOf9YqUuRNF-sp_grP2JS0G_jjPk_49NP6TabQuSSuxFRZU6lgAqOAz2n5RcxsA-OEd6rR8luZ24IVEzc3PC_TmexzBYC3_1_wrN4AFAkZKUXEBPjMA29jRpgraCZ_XvBkOoRsVSdAAvA-2ia6aEHI-tThXM6_=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}

.hero_container {
    width: 100%;
    height: 100vh;
}

.hero_video--container {
    width: inherit;
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_video--container img {
    /* margin: 0 auto; */
    width: 100%;
}

.hero_video--container video {
    /* margin: 0 auto; */
    width: 100%;
}

.history_container--center {
    width: 100%;
    /* height: 100%; */
}

.history_container {
    width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 80px;
    border-bottom: 1px solid rgb(93, 94, 94);
    font-size: 0.9vw;
}

.history p {
    /* font-family: 'Poppins', sans-serif; */
    color: #858484;
    text-align: justify;
    /* font-size: 120%;  */
}

.history, .history_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .history_image video {
    width: 100%;
} */

.history_image img {
    width: 100%;
}

.history h2 {
    color: #009b16;
}

.history a {
    width: 100px;
    background-color: #009b16;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
}

.history a:hover {
    background-color: #00ad1a;
}

.identidad_container {
    background: grey;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 60px; */
    text-align: center;
}

.identidad_container p {
    font-size: 20px;
}

.caracteristicas_container {
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1px solid rgb(93, 94, 94);
    color: #858484;
}
.caracteristicas_container h3 {
    font-size: 30px;
    margin: 20px 0;
    color: black;
    /* font-family: 'Quicksand', sans-serif;  */
}

.caracteristicas_container p {
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mundo_titulo {
    text-align: center;
    padding: 20px;
}

.mundo_titulo strong {
    color: red;
}

.mundo_container {
    text-align: center;
    display: flex;
}

.abejas_container {
    width: 50%;
    height: 400px;
    border-radius: 5px;
    background-image: url('https://lh3.googleusercontent.com/QF-Qbh0DCxW-aN10R02IJHhUBWpgI_aNi5Uu5sHQoulbSrb2tlMnWP1KJwkM-_XoWM27l4E54tCVlQBoP5fcSHKdxRP7c58Qj1EyxMb0jJRqNTTJkg3_loZRrM7xA6YJxHwOCSjjAJjAAD4W4WWsMEnhiRX-jDNQybhNFwVcoxG379H2vqqew8bj2CvDkyiQNE1mCxfAHNu-YmfmQwkH75u1tznBN8ASdjhxyre9NM_C30LL7EWTE1GljbA93IukTYPKNebhnfAYD55FZNA7AvAe4GbNgkJnHSPrD9iG_fBNwKEYylvmbsal9CgyP8V8L_Exno2rdh7VMYa0RDvK0QlyphjJoFvi_KRyt1dqFPqVqGh2Bj-czECjrlGfhP_MqLuWai9SRsjaSC9FVwUeZmPFao_9MhHHstC_s9t46t4JLHUZOeQIIoAU7MJcNsQ9tIuKdHdZHTLUyFzH3Ov9Z5edsBuLTy40Az1tC8XdmV1K01d5vbaM3W6f--Gncr7-A4PAp0mobjjnZogYiWN0IFWTNmvgVlPi1kdgJF9j2b4P4L2oM8lyknzfH3R4qQRcn7vcCBWotB81KDdI61tviZg728hp05WsTxIosBO6FF9MQZfzG9iNLXnxWggTEH9pG63H6zuzGb6Faz90m_NICS5EYStN1sqbl5kVfzxv6UqK-Siyg8KurT9AXnSX=w1364-h628-no?authuser=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reforestacion_container {
    width: 50%;
    height: 400px;
    border-radius: 5px;
    background-image: url('https://lh3.googleusercontent.com/joKiObHmZrN1gYFxIPkts_EQ5PvqJOT3V1jgcVNGaaMZn4PUj-sUoUjrMhv0NTrq6nyFVQpPqhnIfnZ34TwWRERQFajJUhFlB_lZHOtAR0CIHcD-yXE8WLani_SeDlRwnk6kfc4cQMHrpu8TFRoq4Xhvwv_xQDp-2aw5BjzsinX3Z8e_XNoTH9DUnQvxk9UoVaNVjHsPqs1iPoxCkaOPappaXVWb6_L6ryXZ8laf4qwYFCivrEnrBNdFGBBp2L26xPshX79_LR42YE5sob1BHqizmrHwyKsUw6AlFRO7QrQ2ow1O6HhiyZI09zYtn_JHZVh07x2GDbGC_1OI6UspY71lS7v7gWKiTdLk2qPgrbqnx6p4MgJMrQjnm0hv_WykAhXqe4nITyju-10Y2pxDRMghtXQgkQ2ocX5-eyWiMYQQTltUtOjq0Jbl7K4DdHKwSCKCSa4K-gXNz5P2cHlhDjLzYwgERIANwg-wL6IAW37nJhs3fYaZC7dbdYECy4yaNWJFv5ydvCYvUtD2QdLv70cZdtDReND473Wy7q13pQRKsZ_45Kk-VBFKMQHaAgTrMs1ThqOEaSgoT8hm0NG3rc_GEZPmsWH_yMDTSDpY4TXnrGbOBCulhoy9HzeXGuVDTtGhu6PgAjY2xCQU6vhcQmOyBfZqg5GIcEeklVRIr-y3wQwlKB0fD1L59Gw9=w700-h394-no?authuser=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.certificaciones_container {
    width: 100%;
}

.certificaciones_container--center {
    width: 1000px;
    margin: 80px auto;
    text-align: center;
}

.certificaciones_logo {
    width: 100%;
    height: 300px;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoglobal img {
    width: 90%;
}

.logoSRRC img {
    width: 82%;
}

.transporte_container {
    width: 100%;
    height: 400px;
    display: flex;
}

.transporte_img {
    width: 50%;
    height: inherit;
    background-image: url('https://lh3.googleusercontent.com/5aCFvuhLxE7pi9ZiZCUiV-qR2bsdfdK2r7O71wrbIzfvjpJNfP_4dZAppUSHl6GgqBSGkblRdbphpK1Da7bezCPkVj7xEGudyBZYjr_ztTxcUHkOIsFt1H4v48nDEclzAnmvu3-gwTzSKD8V8noLuH4_ZkltbO7tURUSSCjQN69oVC2R0dAPbR_ZwTUjJJUUU9wsU6nwEiCYrUVyb9gpKXbXFrLQ4BJQ4kGXsN1izpQIkWLTkXxyAMRlHMoMZXSgx-zvvkql0a1GkGXKX8NRLLttlDR_PEfreeyKOeQ0k5bIADH5QE1kQgWoDG9K3KgY_YhEgnEDhrj2RhOHwCF7tG062z_MpDxjcQI5C2zH5oSANvUqaLOcjvW4rfsWo2Z_qgMHsGXvN0-fRxwAuPQIrTenETkRT-FjfgTdoJmiFGhKrE85cnIqG1RL2I7dJfix0HGP47KI5R1C-edgSGxgei_PZSYGD76hReIgIxBwqQHFYrNazC3vJeVWGmbCSATFZrqklhQyxLyssHwTC8yEJ_UfCWPyd6ZH7rdMSrtSqbZT5fRAqSTF7OiGjhdBmEKEUaL-fya3Ytlq88bginOckKwepd-G_pEN89835uwSVwm8-PGWJCukHTQzLMdyJZEQgb3EJAebIm0rPma7hsGucUP0ps20ObN9qfbCuK2CXSrHbdCq2BIMd_ioB52V=w1240-h697-no?authuser=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.transporte_texto {
    width: 50%;
    height: inherit;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transporte_texto p {
    width: 80%;
    color: #858484;
}

.transporte_texto h1 {
    color: #009b16;
    font-size: 1.8rem;
}

.actividades_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
}

.map_container {
    width: 100%;
    height: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.map_container iframe {
    width: 99%;
    height: 400px;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.footerext_container {
    width: 100%;
}

.footerext_container--center {
    width: 1000px;
    height: 300px;
    margin: 0 auto; 
    padding: 50px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 150px;
    row-gap: 20px;
    column-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footerext_container--center div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}