@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* position: absolute; */
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    /* border-bottom: red solid 2px; */
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fav1yFP_UxwP484B-t6WYkL1isLWlT9XVWpsVUf8S4oAfEl5CC7ZayRrgGm8sF-mdd4IsDpClqSLAwQOfPLE4ArUEw9yy4PPx76zo1p5pHl8iW5A4rj2ID7u63wynH-zlHZpCE8XsecaILuK1NFCpF=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cZFfkqWn7S9JzxEUwypsHz_Tuwr3z1Ab8rE1TZcl5tIq7C0bJDkp7jMshwVNUWcKr2xD-GeLvVLiJvkSdZ2cFPG9ccf9bWgb9jr2pLPQCAROJcYqp9m50zqJOAJzv8X6VGhk3OOyGQsu5FXM7u2aUe=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}

.hero_container {
    width: 100%;
    height: 100vh;
}

.hero_video--container {
    width: inherit;
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_video--container img {
    /* margin: 0 auto; */
    width: 100%;
}

.hero_video--container video {
    /* margin: 0 auto; */
    width: 100%;
}

.history_container--center {
    width: 100%;
    /* height: 100%; */
}

.history_container {
    width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 80px;
    border-bottom: 1px solid rgb(93, 94, 94);
    font-size: 0.9vw;
}

.history p {
    /* font-family: 'Poppins', sans-serif; */
    color: #858484;
    text-align: justify;
    /* font-size: 120%;  */
}

.history, .history_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .history_image video {
    width: 100%;
} */

.history_image img {
    width: 100%;
}

.history h2 {
    color: #009b16;
}

.history a {
    width: 100px;
    background-color: #009b16;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
}

.history a:hover {
    background-color: #00ad1a;
}

.identidad_container {
    background: grey;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 60px; */
    text-align: center;
}

.identidad_container p {
    font-size: 20px;
}

.caracteristicas_container {
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1px solid rgb(93, 94, 94);
    color: #858484;
}
.caracteristicas_container h3 {
    font-size: 30px;
    margin: 20px 0;
    color: black;
    /* font-family: 'Quicksand', sans-serif;  */
}

.caracteristicas_container p {
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.mundo_titulo {
    text-align: center;
    padding: 20px;
}

.mundo_titulo strong {
    color: red;
}

.mundo_container {
    text-align: center;
    display: flex;
}

.abejas_container {
    width: 50%;
    height: 400px;
    border-radius: 5px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fJDzIo4FFF49xuOg7rpS2aC2wz6JoMOWAmocUEtrktfMUehtM62sgvjOV61TklYrjIr4FT2qdThYxX4hwHs0JHRAEViFIz7SyG4jOMXwfmVVfj3c17e_xzyvyq1XeyYc9G6O9ih1un5-t7ziCmr2F8=w1920-h884-no?authuser=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reforestacion_container {
    width: 50%;
    height: 400px;
    border-radius: 5px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cZBprycM2_QBFnn70y-J1a0FIbzq-i-ipHIGg93igVonsfYNDen45cBWezo_082-VgKnHyEqe6lsXy7auX7FaIYH_aMOHgOd7tokRe2pdX7NCvd9hjkUWOFbhWT6QBn0ywkthfPpnDOfx6BkYsQNmS=w700-h394-no?authuser=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.certificaciones_container {
    width: 100%;
}

.certificaciones_container--center {
    width: 1000px;
    margin: 80px auto;
    text-align: center;
}

.certificaciones_logo {
    width: 100%;
    height: 300px;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoglobal img {
    width: 90%;
}

.logoSRRC img {
    width: 82%;
}

.transporte_container {
    width: 100%;
    height: 400px;
    display: flex;
}

.transporte_img {
    width: 50%;
    height: inherit;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fsA0gQ3bZJ5Lpgt5CVk71Mj-cYwen_KSQ0Fka-VI5seky0MiMMbuNIZzxznSSHyc9YoN02lUlTfq1tkmV0mPPd4Or9QFjPonp5ADi6jmkAwnaozu7YBg9IfZ7e9gl6A8zZ2Y762Fp50bWpouE3-K-L=w1794-h1009-no?authuser=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.transporte_texto {
    width: 50%;
    height: inherit;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transporte_texto p {
    width: 80%;
    color: #858484;
}

.transporte_texto h1 {
    color: #009b16;
    font-size: 1.8rem;
}

.actividades_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
}

.map_container {
    width: 100%;
    height: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.map_container iframe {
    width: 99%;
    height: 400px;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.footerext_container {
    width: 100%;
}

.footerext_container--center {
    width: 1000px;
    height: 300px;
    margin: 0 auto; 
    padding: 50px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 150px;
    row-gap: 20px;
    column-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footerext_container--center div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}