@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header_container {
    background: #25733A;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Palanquin Dark', sans-serif; */
    /* position: absolute; */
}

.header_container--center {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.header_container--center a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    /* border-bottom: red solid 2px; */
}

.header_container--center .header--botton {
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.header_container--center .header--botton:hover {
    /* color: red; */
    background: #30904a;
    /* border-bottom: red solid 10px; */
}

.header_logo {
    width: 100px;
    height: 41px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fav1yFP_UxwP484B-t6WYkL1isLWlT9XVWpsVUf8S4oAfEl5CC7ZayRrgGm8sF-mdd4IsDpClqSLAwQOfPLE4ArUEw9yy4PPx76zo1p5pHl8iW5A4rj2ID7u63wynH-zlHZpCE8XsecaILuK1NFCpF=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo:hover {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cZFfkqWn7S9JzxEUwypsHz_Tuwr3z1Ab8rE1TZcl5tIq7C0bJDkp7jMshwVNUWcKr2xD-GeLvVLiJvkSdZ2cFPG9ccf9bWgb9jr2pLPQCAROJcYqp9m50zqJOAJzv8X6VGhk3OOyGQsu5FXM7u2aUe=w1000-h403-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container--center a {
    text-decoration: none;
    color: white;
}

.hero_container {
    width: 100%;
    height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dKZq35tJWHw1_eD5HXtUYG_XlEboc5SVMSwQPlXmvb_1IBF9hPcFE_v6IP6fGV3vROAfZD42BwJZYleaDHR5HyHmZLBUcnuGsi_J83tF0SvpWkcsPVUG03fZFRIIwPoQDfllZTP6hlnMWD7hYaAPBB=w1296-h972-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container .hero_tittle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_container--pimiento .hero_tittle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_container--pepino .hero_tittle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_container--chile .hero_tittle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_container--verdura .hero_tittle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_tittle h2 {
    color: white;
    margin: 0;
    font-size: 15px;
    /* box-shadow: 0 0 black; */
    text-shadow: 2px 0px 1px black;
}

.hero_tittle h1 {
    color: white;
    margin: 0;
    font-size: 80px;
    text-shadow: 2px 2px 6px black;
}

.hero_container--pimiento {
    width: 100%;
    height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fUsqYGx2q3P12fNe-MJsBxEDjgIZicLmSejWYxdO5yRxXK8rMvouLXzbp1yKruyTPQaBcHvezPmx0iaQak8c7c7oVnkKIvfXjW7oXiQS_gd1q8OiORzQ5v700A1d6UqCDJTdK9-b9qQgb6CnMJdiLX=w1920-h958-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container--chile {
    width: 100%;
    height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fUsqYGx2q3P12fNe-MJsBxEDjgIZicLmSejWYxdO5yRxXK8rMvouLXzbp1yKruyTPQaBcHvezPmx0iaQak8c7c7oVnkKIvfXjW7oXiQS_gd1q8OiORzQ5v700A1d6UqCDJTdK9-b9qQgb6CnMJdiLX=w1920-h958-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container--pepino {
    width: 100%;
    height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dg-1x6Y98gRcBrxL_KzHXe5BEtZtdWrBrcEinmKyfeb6madExu1FqtjW9FUmNeVFaD-TnlWYBcvMrsSKQzG5rJgcN9w5QFrdq1iITyfnBCc-CGh_FVyhh_9m8-pjVjD3lGtLM7xu4ni84Pz-qrh8Nj=w1515-h1009-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container--verdura {
    width: 100%;
    height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cCU2Jro_-Zwgq7e9PYH_dbrAw29HXw3neQsA-fGlvDzTyl2-GLF9iUONTG3HaZf6_SVvFtfBt3skriBQENJiMXLM0DZlLEWtWuV4PdRqWfZnrZ6H-HfTFI9UDBLfeynwhULJsZZsYXjuTSzxUpbOV1=w1794-h1009-no?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.siembra_container {
    width: 100%;
    height: 400px;
    display: flex;
}

.product_container {
    /* width: 1000px;
    margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50vh 50vh;
}

.product_image1 {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3epTYiWS-c44pd0aOxSY64RWwJ7jh-qrrSMqTzFDYPSRKLWZi49iFLnpnGFqtLOlkGWbRrZXSOldLCjoPlju2UcgoRTy3yLWk6ULrkKcjnVbbMvjVUoCM4kVvFoEIo-TlTCEj5CWiSHBpUIHi9eX3N2=w1514-h1009-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_image2 {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3eChPU971ES4P8pKnxY7DmNIoY5wts6o6RF5AZqA4SvSTIE9OQkuWAddP_SDVmDV586w7VznZRNrLzZGJ3IM-b4zp3KQgkpzh8TugidQbxUkJctjIRVxlET7WUvXeEd-1NkQZE1v_otf9RQR8AEPtu4=w1513-h1009-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* .product_image3 {
    background-image: url('/image/tomate/uva.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_terminado {
    background-image: url('/image/tomate/pexels-nuzul-arifa-1691180.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}*/

.product_description {
    font-size: 16px;
    color: #858484;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 500px;
}

.product_description h2 {
    color: #009b16;
}

.product_image--pimiento {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3d9QLZmOd8m8oQ7m0OXOqkcAZpLKsRZVJn914zB75ip14WbptSHNGVYEXBWbocyeqKI_z34qEriylUcW6qAvp0NOFmpEdcvdDROcbOr1RQZz6-5nR6ZEb9FPESRb-2x1LS4dU1IUDm5BxAkFil8AyRX=w900-h560-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_terminado--pimiento {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3da9uM8L8oPs2EXI1hr6YdTeSB9sJclOUduhkyPEqttY-B9nREeX2eRVnhpMF-Qt_Aw-_OMSWfjAFp_yPiZIwx9ZdrFZkpReOkhxcZf-_I06EXDzLzWyrt0xAB06yMxrMsI2T0mU5XLeH70Cih6BstH=w900-h600-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.product_image--chile {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3d2cjqtQJdKdaBV00i11vuANElAg8u0jogpNIjukezpBj1clfwbQn6jB1ynqxwhl3YRUccoMlXjxf1yxYj4GjHmIO2sHQcAFm1jx7KsDYUOoPb_ANolYGGxZwgz0TUbc4llBbWL2PX2_penr0WdOjLK=w688-h516-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_terminado--chile {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cdKK37XJIJ3Jj4ttyPelEw1kPn1Hsqf-FBJ__j5nD3i1ZgyAf2SFpl6McmmNMB9Zr6j8ztuD1BxtyLh7P145q9VwUVB1Evnq3C4sfmA-JCB-XKWH-XTHE7rvPS-ne7JEsr0LX7iNi51rT0C8zUzuKG=w688-h387-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_image--verdura {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3edibojMgI7flafbsz1vAylNO-vQIsAN_nHhOPenQdL_ASCO0G9pYqcQByNGXzXWFh9fQlQqlpJW_RKbAGMTiwT2rHLWYqrqysHhV0MP6Z7pTiRhTo3Q41t0RCaMuuYyJq60_cq-FPtzUhyEr0BaH7n=w1794-h1009-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_terminado--verdura {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dGdx3bosIAZ15PrjzFRqEYxjXWLrCzvZImSEtgkAPm6wa2P7g9_DoIPSQv-aAnRqPIrizgpbOfEigZQ7zLddeMe9QV626j_gRhCjCesCWrN3W4txfBKz32clZHc0Ww4WBOkZeNEeYSgtyWbNMZ8vXj=s1009-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_image--pepino {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dgMH2Jr6-j_EAe0g5DGAQF9a7UzcJOVytvFELrO3khpHgF9AvAJ1pHf-yQ1rGMhpKa4K1RGhvHuSoGFjE2UrhCw1fO-tf6eVVr-wzkk1iaRGR360eExm1m-sLlakcNol996y3tZc8Sb80PICw6e9zo=w1024-h768-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product_terminado--pepino {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fdb44XYLt-NJOgmdxdw7qJmb41VutYHJBwPcMm2Ym_IGYhyLscTA8hKObMAt5EpO5cAmqOtpnR30aC6FplV58_aPEc1uBTUqk1rv5v-yax_u0tIhgFk_t6rFzbF1qpCbKIR_MkWKiRU3deQsljBr0f=w1200-h800-no?authuser=0');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_container {
    width: 100%;
    height: 200px;
    background: #25733A;
    color: white;
}

.footer_container--center {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px 200px;
    grid-template-rows: 200px;
    font-size: 14px;
}

.secciones_container {
    display: flex;
    align-items: center;
}

.secciones_container a {
    color: white;
    text-decoration: none;
}

.footer_container img {
    width: 120px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_direccion {
    font-size: 16px;
    display: flex;
    align-items: center;
}